html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
  display: none; /* For Chrome and Safari */
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 15vh;
  background-color: #ffffff;
}

header > h1 {
  font-size: 9vh;
  margin-right: 4vw;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

header > h1 > a {
  font-size: 3vh;
  text-decoration: none;
  outline: none;
  color: #1339cc;
}

a {
  text-decoration: none;
}

section {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

section > img {
  height: 80%;
  margin-top: 0;
}

section a {
  outline: none;
  text-decoration: none;
  color: #ffffff;
}

section h1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 8vh;
  color: #ffffff;
}

section h2 {
  margin-left: 6vh;
  font-size: 6vh;
  font-weight: normal;
  color: #ffffff;
}

section p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 3vh;
  font-weight: normal;
  color: #ffffff;
}

section p:first-of-type {
  margin-top: 6vh;
  font-weight: bold;
}

.about {
  margin-left: 15vw;
  margin-right: 15vw;
  width: auto;
  height: auto;
  display: block;
}

.about a {
  text-decoration: underline;
  color: #1339cc;
}

.about h1 {
  margin-top: 9vh;
  margin-bottom: 6vh;
}

.about p {
  margin-top: 6vh;
  margin-bottom: 6vh;
  font-size: 3vh;
  font-weight: normal;
  color: #ffffff;
}

.about p:first-of-type {
  margin-top: 2vh;
  font-weight: normal;
}

.about p:last-of-type {
  margin-bottom: 9vh;
}

#intro {
  background-color: #5655b6;
}

#intro > img {
  width: 40vw;
  height: auto;
  margin-top: 30vh;
}

#intro > div {
  margin-top: -10vh;
}

#flow {
  background-color: #55b4b6;
}

#flow > img {
  margin-top: -10vh;
}

#blurryTransitions {
  background-color: #8755b6;
}

#theGrid {
  background-color: #b68555;
}

#theGrid > img {
  margin-top: -30vh;
}

#reachability {
  background-color: #b66d55;
}

#reachability > img {
  margin-top: -110vh;
}

#theActionBar {
  background-color: #b69e55;
}

#theActionBar > img {
  width: 45%;
  height: auto;
}

#roundness {
  background-color: #b65584;
}

#roundness > img {
  margin-top: 180vh;
}

#carefulColors {
  background-color: #84b655;
}

#prettyText {
  background-color: #55b3b6;
}

#prettyText > img {
  margin-top: 140vh;
}

#nuance {
  background-color: #b455b6;
}

#breakTheRules {
  background-color: #b65555;
}

#breakTheRules > img {
  margin-top: 240vh;
}

#more, .aboutBody {
  background-color: #000000;
}