html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
  display: none; /* For Chrome and Safari */
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 15vh;
  background-color: #ffffff;
}

header > h1 {
  font-size: 9vh;
  margin-right: 4vw;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

header > h1 > a {
  font-size: 3vh;
  text-decoration: none;
  outline: none;
  color: #1339cc;
}

section {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

section > img {
  height: 80%;
  margin-top: -85px;
}

section a {
  outline: none;
  color: #ffffff;
}

section h1 {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 8vh;
  color: #ffffff;
}

section h2 {
  margin-left: 6vh;
  font-size: 6vh;
  font-weight: normal;
  color: #ffffff;
}

section p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 3vh;
  font-weight: normal;
  color: #ffffff;
}

section p:first-of-type {
  margin-top: 6vh;
  font-weight: bold;
}

#intro {
  background-color: #5655b6;
}

#intro > img {
  width: 40vw;
  height: auto;
  margin-top: 30vh;
}

#intro > div {
  margin-top: -10vh;
}

#flow {
  background-color: #55b4b6;
}

#blurryTransitions {
  background-color: #8755b6;
}

#theGrid {
  background-color: #b68555;
}

#reachability {
  background-color: #b66d55;
}

#theActionBar {
  background-color: #b69e55;
}

#embraceRoundness {
  background-color: #b65584;
}

#carefulColors {
  background-color: #84b655;
}

#prettyText {
  background-color: #55b3b6;
}

#keepTheNuance {
  background-color: #b455b6;
}

#breakTheRules {
  background-color: #b65555;
}

#more {
  background-color: black;
}