:root {
  --header-color: #4459AA;
  --link-color: #1339CC;
  --alert-color: #F00E33;
  --base-margin: 3rem;
  --header-vertical-margin: 1.5rem;
  --header-title-font-size: 2.25rem;
  --header-nav-font-size: 1.5rem;
  --tag-h1-top-margin: 3rem;
  --tag-li-verical-margins: 0.5rem;
  --schedule-vertical-margins: 2rem;
  --schedule-h2-top-margin: 1.6rem;
  --about-h2-top-margin: 2rem;
  --gradeScale-gap: 0.6rem;
  --gradeScale-font-size: 1.0rem;
}

@media (max-width: 1048px) {
  :root {  
    --base-margin: 2rem;
    --header-vertical-margin: 1rem;
    --header-title-font-size: 2.0rem;
    --header-nav-font-size: 1.25rem;
  }
}

@media (max-width: 488px) {
  :root {  
    --base-margin: 1rem;
    --header-title-font-size: 1.6rem;
    --header-nav-font-size: 1rem;
    /* The following values are multiplied by 0.8 from default */
    --tag-h1-top-margin: 2.4rem;
    --tag-li-verical-margins: 0.4rem;
    --schedule-vertical-margins: 1.6rem;
    --schedule-h2-top-margin: 1.28rem;
    --about-h2-top-margin: 1.6rem;
    --gradeScale-gap: 0.75rem;
    --gradeScale-font-size: 1.1rem;
  }
}

/* General Styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Show header with flexbox, set font based on what's available */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Helvetica Neue", Helvetica, Verdana, sans-serif;
}

a {
  text-decoration: none;
  outline : none;
  font-weight: bold;
  color: var(--link-color);
}

h1 {
  margin-top: var(--tag-h1-top-margin);
}

p {
  line-height: 1.3rem;
}

li {
  margin-top: var(--tag-li-verical-margins);
	margin-bottom: var(--tag-li-verical-margins);
}

.alert {
  color: var(--alert-color);
}

.note {
  border: 2px solid black;
  padding: 1rem;
}

/* Header Styling */
header {
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: var(--header-color);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .5);
}

header a {
  text-transform: uppercase;
  color: #FFFFFF;
}

.title {
  margin-left: var(--base-margin);
  margin-top: var(--header-vertical-margin);
  margin-bottom: var(--header-vertical-margin);
  font-size: var(--header-title-font-size);
}

nav {
  margin-left: auto;
  margin-right: var(--base-margin);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 1.5rem;
  font-size: var(--header-nav-font-size);
}

/* Content Styling */
.content {
  margin-left: var(--base-margin);
  margin-right: var(--base-margin);
  margin-bottom: 3rem;
  max-width: 936px;
}

/* Schedule Styling */
.schedule {
  margin-top: var(--schedule-vertical-margins);
  margin-bottom: var(--schedule-vertical-margins);
}

.schedule h2 {
  margin-top: var(--schedule-h2-top-margin);
  margin-bottom: 0;
}

.schedule p {
  line-height: 1.5rem;
  margin-top: 0;
}

/* About Styling */
.about h2 {
  margin-top: var(--about-h2-top-margin);
}

.gradeScaleHeading {
  margin-top: 1.2rem;
  margin-bottom: 0.6rem;
  margin-left: 2rem;
}

.gradeScale {
  margin-bottom: 2rem;
  margin-left: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: min-content 5.5rem min-content 1fr;
  grid-row-gap: var(--gradeScale-gap);
  grid-column-gap: var(--gradeScale-gap);
  font-size: var(--gradeScale-font-size);
}

.gradeScale p {
  margin: 0;
}

.gradeLetterLeft {
  grid-column: 1;
}

.gradeRangeLeft {
  grid-column: 2;
}

.gradeLetterRight {
  grid-column: 3;
}

.gradeRangeRight {
  grid-column: 4;
}

/* Instructor Bio Styling */
.bios {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  align-items: center;
}

.bios > img {
  width: 100%;
}

.innerBio > h2:first-of-type {
  margin-top: 0;
}

.innerBio > p:last-of-type {
  margin-bottom: 0;
}

/* Assignment List Styling */
.assignments > li {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Overrides for tablet-style devices */
@media (max-width: 880px) {
  /* Header Styling */
  header {
    align-items: flex-start;
    flex-direction: column;
  }

  nav {
    margin-left: calc(var(--base-margin) * 2);
    margin-right: auto;
    margin-bottom: var(--header-vertical-margin);
    grid-template-rows: repeat(5, auto);
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0.25rem;
  }
}

/* Overrides for smartphone-style devices */
@media (max-width: 488px) {
  /* Instructor Bio Styling */
  .bios {
    grid-template-columns: 1fr;
  }
}

@media print {
  body {
    display: block;
  }

  header {
    display: block;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .title {
    margin-left: var(--base-margin);
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--header-title-font-size);
    color: #000000;
  }
  
  nav {
    display: none;
  }
}