/* Project Flame Style Rules */
/* :root {
  --header-color: #4459AA;
  --link-color: #1339CC;
  --alert-color: #F00E33;
  --base-margin: 3rem;
  --header-vertical-margin: 1.5rem;
  --header-title-font-size: 2.25rem;
  --header-nav-font-size: 1.5rem;
  --tag-h1-top-margin: 3rem;
  --tag-li-verical-margins: 0.5rem;
  --schedule-vertical-margins: 2rem;
  --schedule-h2-top-margin: 1.6rem;
  --about-h2-top-margin: 2rem;
  --gradeScale-gap: 0.6rem;
  --gradeScale-font-size: 1.0rem;
}

@media (max-width: 1048px) {
  :root {
    --base-margin: 2rem;
    --header-vertical-margin: 1rem;
    --header-title-font-size: 2.0rem;
    --header-nav-font-size: 1.25rem;
  }
}

@media (max-width: 488px) {
  :root {
    --base-margin: 1rem;
    --header-title-font-size: 1.6rem;
    --header-nav-font-size: 1rem;
    /* The following values are multiplied by 0.8 from default
    --tag-h1-top-margin: 2.4rem;
    --tag-li-verical-margins: 0.4rem;
    --schedule-vertical-margins: 1.6rem;
    --schedule-h2-top-margin: 1.28rem;
    --about-h2-top-margin: 1.6rem;
    --gradeScale-gap: 0.75rem;
    --gradeScale-font-size: 1.1rem;
  }
} */

/* General Styling */
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

::-webkit-scrollbar {
  display: none; /* For Chrome and Safari */
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 15vh;
  background-color: #ffffff;
}

header h1 {
  font-size: 9vh;
  margin-right: 4vw;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

header h1 a {
  font-size: 3vh;
  text-decoration: none;
  outline: none;
  color: #1339cc;
}

section {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

section img {
  height: 100%;
}

section a {
  outline: none;
  color: #ffffff;
}

#intro {
  background-color: #5655b6;
}

#intro img {
  width: 40vw;
  height: auto;
  margin-top: 20vh;
}

#intro div {
  margin-top: -10vh;
}

.cardText {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 8vh;
  color: #ffffff;
}

.cardTextSecondary {
  margin-left: 6vh;
  font-size: 6vh;
  font-weight: normal;
}

.cardTextParagraph {
  font-size: 3vh;
  font-weight: normal;
}

#flow {
  background-color: #55b4b6;
}

#flow img {
  height: 80%;
  margin-top: -85px;
}

#more {
  background-color: #8755b6;
}

/* Project Flame Style Rules */
/* a {
  text-decoration: none;
  outline : none;
  font-weight: bold;
  color: var(--link-color);
}

h1 {
  margin-top: var(--tag-h1-top-margin);
}

p {
  line-height: 1.3rem;
}

li {
  margin-top: var(--tag-li-verical-margins);
	margin-bottom: var(--tag-li-verical-margins);
}

.alert {
  color: var(--alert-color);
}

.note {
  border: 2px solid black;
  padding: 1rem;
}

/* Header Styling
header {
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* For Safari
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: var(--header-color);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .5);
}

header a {
  text-transform: uppercase;
  color: #FFFFFF;
}

.title {
  margin-left: var(--base-margin);
  margin-top: var(--header-vertical-margin);
  margin-bottom: var(--header-vertical-margin);
  font-size: var(--header-title-font-size);
}

nav {
  margin-left: auto;
  margin-right: var(--base-margin);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 1.5rem;
  font-size: var(--header-nav-font-size);
}

/* Content Styling
.content {
  margin-left: var(--base-margin);
  margin-right: var(--base-margin);
  margin-bottom: 3rem;
  max-width: 936px;
}*/
