/* Project Flame Style Rules */
/* :root {
  --header-color: #4459AA;
  --link-color: #1339CC;
  --alert-color: #F00E33;
  --base-margin: 3rem;
  --header-vertical-margin: 1.5rem;
  --header-title-font-size: 2.25rem;
  --header-nav-font-size: 1.5rem;
  --tag-h1-top-margin: 3rem;
  --tag-li-verical-margins: 0.5rem;
  --schedule-vertical-margins: 2rem;
  --schedule-h2-top-margin: 1.6rem;
  --about-h2-top-margin: 2rem;
  --gradeScale-gap: 0.6rem;
  --gradeScale-font-size: 1.0rem;
}

@media (max-width: 1048px) {
  :root {
    --base-margin: 2rem;
    --header-vertical-margin: 1rem;
    --header-title-font-size: 2.0rem;
    --header-nav-font-size: 1.25rem;
  }
}

@media (max-width: 488px) {
  :root {
    --base-margin: 1rem;
    --header-title-font-size: 1.6rem;
    --header-nav-font-size: 1rem;
    /* The following values are multiplied by 0.8 from default
    --tag-h1-top-margin: 2.4rem;
    --tag-li-verical-margins: 0.4rem;
    --schedule-vertical-margins: 1.6rem;
    --schedule-h2-top-margin: 1.28rem;
    --about-h2-top-margin: 1.6rem;
    --gradeScale-gap: 0.75rem;
    --gradeScale-font-size: 1.1rem;
  }
} */

/* Import Source Sans Pro Font
/* Light
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ik4zwkxdu3cOWxy40.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Regular
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xK3dSBYKcSV-LCoeQqfX1RYOo3qPK7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* SemiBold
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwkxdu3cOWxy40.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* Bold
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v13/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwkxdu3cOWxy40.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}*/

/* General Styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* Show header with flexbox, set font based on what's available */
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #5655B6;
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 20vh;
  background-color: #FFFFFF;
  z-index: 1;
}

header > h1 {
  font-weight: bold;
  font-size: 12vh;
  margin-right: 4vw;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.intro {
  display: flex;
  justify-content: space-around;
}

.intro > img {
  padding-top: 14vh;
  padding-bottom: 14vh;
  max-width: 80vw;
}

.intro > h1 {
  font-weight: bold;
  font-size: 8vh;
  color: #FFFFFF;
  padding-top: 24vh;
}


/* Project Flame Style Rules */
/* a {
  text-decoration: none;
  outline : none;
  font-weight: bold;
  color: var(--link-color);
}

h1 {
  margin-top: var(--tag-h1-top-margin);
}

p {
  line-height: 1.3rem;
}

li {
  margin-top: var(--tag-li-verical-margins);
	margin-bottom: var(--tag-li-verical-margins);
}

.alert {
  color: var(--alert-color);
}

.note {
  border: 2px solid black;
  padding: 1rem;
}

/* Header Styling
header {
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* For Safari
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: var(--header-color);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .5);
}

header a {
  text-transform: uppercase;
  color: #FFFFFF;
}

.title {
  margin-left: var(--base-margin);
  margin-top: var(--header-vertical-margin);
  margin-bottom: var(--header-vertical-margin);
  font-size: var(--header-title-font-size);
}

nav {
  margin-left: auto;
  margin-right: var(--base-margin);
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, auto);
  grid-column-gap: 1.5rem;
  font-size: var(--header-nav-font-size);
}

/* Content Styling
.content {
  margin-left: var(--base-margin);
  margin-right: var(--base-margin);
  margin-bottom: 3rem;
  max-width: 936px;
}*/
